*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #0066bb url(../images/reactjs.png) no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
}

section {
 padding: 20px;
}


#content {
  width: 60%;
  margin: 0 auto;
}


/* tasks section */
.tasks-section {

  .create-task-input {
    color: #414654;
    border: none;
    outline: none;
    font-size: 22px;
    width: 800px;
    text-indent: 20px;
  }
  @-webkit-keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

  .task-card {
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
    animation: pulse 5s infinite;
  }
}
